.download-page {
  margin-top: -40%;
}

.one-pic-frame img {
  object-fit: cover;
}

.download-icons {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index:99;
}