/* .one-pic-frame {
  height: 20px;
} */

/* .one-pic {
  margin-top: 0.001%;
} */

.one-pic-frame img {
  object-fit: cover;
}

.icon {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  width: 100%;
  z-index:99;
}